.wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    padding:10px;
}
.second-wrapper {
    background: #000000;
    width: 100%;
    max-width: 800px;
    height: fit-content;
    margin-top: 5px;
    border-radius: 10px;
}
.btn-wrapper{
    display: flex;
    padding-top: 10px;
    padding-left: 15px;
    color: #000;
    position: relative;
    bottom: 0;
}
.btn{
    width: 100px;
    height: 40px;
    margin-right: 5px;
    background: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.3s ease;
}
.btn-wrapper .active{
    background: #ffffff;
    color: #000000;
}
.text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}
textarea{
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height:500px;
    margin: 5px;
    font-size: 20px;
    padding: 3px;
    border-radius: 3px;
    transition: all 0.5s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.first-text,.output-text{
    letter-spacing: 1p;
}
.gen-wrapper{
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end ;
}
.btn:not(.active):hover {
    background-color: #b3b2b1;
    color: #000000;
}
.btn i{
    margin-left:  4px; ;
}
@media screen and (max-width: 480px){
    textarea{
        height: calc(80vh - 70px);
    }
}