header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:10px;
    margin-top: 2px;
}
header > .logo {
    text-align: center;
    padding-right: 10px;
}

header > .logo::before {
    font-size: 50px;
    display: inline-block;
}